#gameboard {
  display: grid;
  grid-template-columns: repeat(15, min(4.5vh, 3.5vw));
  grid-template-rows: repeat(15, min(4.5vh, 3.5vw));
  margin: 3vw;
  max-height: 65vh;
  justify-self: center;
}

.square {
  background-color: #fdf7e3;
  border: solid black 1px;
  position: relative;
}

.square.TW {
  background-color: red;
}

.square.DW {
  background-color: orange;
}

.square.TL {
  background-color: blue;
}

.square.DL {
  background-color: green;
}

.square.CENTER {
  background-color: pink;
}

.overlay-good {
  /* position: absolute; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(102, 255, 102, 0.5)
}

.overlay-bad {
  /* position: absolute; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5)
}

.red {
  color: red;
}

.board-square {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 233, 171, 0.8);
}

.modifier {
  position: absolute;
  color: white;
  font-size: 110%;
  top: 2px;
  left: 2px;
}
