/* **************************
 * Simultaneous Scrabble CSS
 * Created by Ben Cuan
 * ************************** */

#container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
  background-color: #fffaeb;
}

#main-panel {
  justify-self: center;
  align-self: center;
  /* height: 70%; */
  width: 70%;
}

.logo {
  width: 100%;
  margin-bottom: 25px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 175%;
}

h1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.github-banner {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 350px;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
}

.github-banner a {
  margin: 0;
  display: grid;
  align-items: center;
  padding-bottom: 15px;
  padding-right: 10px;
  font-family: 'Ropa Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ************
 * * FORM     *
 * ************ */
.field {
  height: 40px;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.field input {
  height: 100%;
  /* position: absolute; */
  border-radius: 0;
  width: 30vw;
  border-color:  #003ca8;
  border-style: solid;
  padding: 5px;
}

.field .label {
  background-color: #003ca8;
  height: 100%;
  width: 30%;
  padding: 3px;
  /* position: absolute; */
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 125%;
}

.option-input {
  border-color:  #2b9348 !important;
  width: 20vw !important;
}

.option-label {
  background-color: #2b9348 !important;
  max-width: 700px !important;
  width: 40% !important;
}

/* ************
 * * BUTTONS  *
 * ************ */

.button {
  position: relative;
  margin: auto;
  width: 70%;
  max-width: 600px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 150%;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.button:active,
.button:hover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.button:disabled {
  top: 0px !important;
  background: #cccccc !important;
  border-bottom: 2px solid #dddddd !important;
  box-shadow: inset 0 -2px #dddddd !important;
  -webkit-box-shadow: inset 0 #dddddd !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important;
  color: #bbbbbb !important;
}

.btn-primary {
  background: #0050c1;
  border-bottom: 2px solid #003ca8;
  box-shadow: inset 0 -2px #003ca8;
  -webkit-box-shadow: inset 0 #003ca8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: white;
  margin-top: 10px;
}

.btn-create {
  background: #2b9348;
  border-bottom: 2px solid #2d6a4f;
  box-shadow: inset 0 -2px #2d6a4f;
  -webkit-box-shadow: inset 0 #2d6a4f;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: white;
  margin-bottom: 15px;
}

.btn-primary:active,
.btn-primary:hover {
  background: #2d6a4f;
}
.btn-create:active,
.btn-create:hover {
  background: #2d6a4f;
}

.btn-about {
  background: #7209b7;
  border-bottom: 2px solid #480ca8;
  box-shadow: inset 0 -2px #480ca8;
  -webkit-box-shadow: inset 0 #480ca8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: white;
  margin-bottom: 20px;
}

.btn-about:active,
.btn-about:hover {
  background: #480ca8;
}


.field-btn {
  border-radius: 0;
  border-top: solid #2b9348 2px;
  border-bottom: solid #2b9348 2px;
  border-left: none;
  border-right: solid #2b9348 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  width: 11vw;
}

.red-btn {
  background-color: #ff8da1;
}

.blue-btn {
  background-color: rgb(120, 200, 255);
}

.yellow-btn {
  background-color: #fff3b0;
}
button:focus {
  outline: none !important;
}

/* ************
 * *   TABS   *
 * ************ */
.react-tabs {
  border: solid black 2px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  box-shadow: 2px 9px 15px -7px #666666
}

.react-tabs__tab {
  width: 50%;
  border: none !important;
  transition: all 0.25s ease-in-out;
  bottom: 0;
  text-align: center;
  font-size: 150%;
}

.react-tabs__tab::after {
  display: none !important;
}

.react-tabs__tab--selected {
  background: rgb(120, 200, 255) !important;
  border-radius: 0 !important;
  font-weight: bold;
}

.react-tabs__tab-panel {
  display: grid !important;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}

.react-tabs__tab-panel h1 {
  font-size: 300%;
}
