#rack {
  display: grid;
  grid-template-columns: repeat(7, 5vw);
  justify-content: center;
}

.rack-letter {
  background-color: beige;
  height: 5vw;
  border: solid black 1px;
  margin: 3px;
  padding: 1px;
  font-size: 200%;
}

#rack-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: left;
  justify-content: center;
}

.rack-btn {
  height: 3vh;
  width: 10vw;
  margin-left: 5vh;
  margin-right: 5vh;
  text-align: center;
  margin-top: 1vh;
}

.submit {
  background-color: lightgreen;
}

.recall {
  background-color: lightcoral;
}
