#rack {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
}

.rack-letter {
  background-color: #e3b17f;
  height: 6vh;
  width: 6vh;
  /* border: solid black 3px; */
  border-radius: 7px;
  margin: 3px;
  padding: 1px;
  padding-left: 5px;
  font-size: 200%;
  position: relative;
  user-select: none;
}

#rack-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: left;
  justify-content: center;
}

.rack-btn {
  height: 3vh;
  width: 10vw;
  margin-left: 5vh;
  margin-right: 5vh;
  text-align: center;
  margin-top: 1vh;
}

.letter-value {
  font-family: 'Ropa Sans';
  position: absolute;
  right: 2px;
  bottom: 0;
  font-size: 70%;
  margin: 0;
  user-select: none;
}


.rack-btn {
  text-decoration: none;
  height: 3vh;
  width: 10vw;
  padding: 0.5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  text-align: center;
  margin-top: 1vh;
  color: black;
  font-size: large;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
}

.rack-btn:active,
.rack-btn:hover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  color: black;
}

.recall {
  background-color: #8EBEF5;
  border-bottom: 2px solid #4361EE;
  box-shadow: inset 0 -2px #4361EE;
  -webkit-box-shadow: inset 0 #4361EE;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
}

.recall:active,
.recall:hover {
  background: #4361EE;
  color: white;
}
.skipturn {
  background-color: #fa5b79;
  border-bottom: 2px solid #ED0732;
  box-shadow: inset 0 -2px #ED0732;
  -webkit-box-shadow: inset 0 #ED0732;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
  justify-self: right;
  margin-right: 5vw;
}

.skipturn:active,
.skipturn:hover {
  background: #ED0732;
  color: white;
}

.submit {
  background-color: #90ee90;
  border-bottom: 2px solid #47991c;
  box-shadow: inset 0 -2px #47991c;
  -webkit-box-shadow: inset 0 #47991c;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
  margin-left: 5vw;
}

.submit:active,
.submit:hover {
  background: #47991c;
  color: white;
}

.blank-input {
  text-transform: uppercase;
}

.blank {
  color: #4361EE;
  margin: 0;
  font-family: 'Ropa Sans';
  position: absolute;
  top: 2px;
  left: 2px;
  line-height: 1em;
}

.blank-hover:hover {
  background-color: #8EBEF5;
}
